################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/APIRefit/appsettings.Development.json
/CadastroProduto/appsettings.Development.json
/APIRefit/appsettings.Development.json
volumes/templog.ldf
volumes/tempdb6.ndf
volumes/tempdb5.ndf
volumes/tempdb4.ndf
volumes/tempdb3.ndf
volumes/tempdb2.ndf
volumes/tempdb.mdf
volumes/msdblog.ldf
volumes/msdbdata.mdf
volumes/modellog.ldf
volumes/model_replicatedmaster.mdf
volumes/model_replicatedmaster.ldf
volumes/model_msdblog.ldf
volumes/model_msdbdata.mdf
volumes/model.mdf
volumes/mastlog.ldf
volumes/master.mdf
volumes/Estoque_log.ldf
volumes/Estoque.mdf
volumes/Entropy.bin
