################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/APIRefit/appsettings.Development.json
/CadastroProduto/appsettings.Development.json
/APIRefit/appsettings.Development.json
/volumes/*